

body {
	background: #2F3B4B;
	font-family: arial;
	display: grid;
	grid-template-columns: 30% 50% 20%;
	grid-template-rows: auto;
	grid-template-areas: "header header header"
						"nav main aside"
	 					"footer footer footer";
}



header {
	background-color: #424A4D;
	color: #f8bbd0;
	padding: 20px;
	grid-area: header;
	text-align: center;
}

nav {
    display: block;
    background-color: #2F3B4B;
    grid-area: nav;

}

img {
    border-radius: 1px;
    height: auto;
    width: 200px;
}

footer {
	background-color: #f8bbd0;
	color: white;
	grid-area: footer;
}


aside {
	grid-area: aside;
	background-color: #ACABA9;
	color: black;
}

main {
	grid-area: main;
	background-color: #E6E5E0;
	color: black;
    text-align: center;
}