


body {
	background: #2F3B4B;
	font-family: arial;
	display: grid;
    grid-template-columns: 30% 50% 20%;
	grid-template-rows: auto;
	grid-template-areas: "header header header"
						"nav main aside"
	 					"footer footer footer";
}


header {
	background-color: #424A4D;
	color: #f8bbd0;
	padding: 20px;
	grid-area: header;
	text-align: center;
}


nav {
background-color: #ACABA9;
grid-area: nav;
}
nav ul {
	list-style-type: none;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    text-align: center;
}
    nav ul a {color: blue;}
    a:hover { 
        color: red;
    }


main {
	grid-area: main;
	background-color: #E6E5E0;
	color: black;
    text-align: center;
}

aside {
	grid-area: aside;
	background-color: #ACABA9;
	color: black;
}


footer {
	background-color: #f8bbd0;
	color: white;
	grid-area: footer;
}

img{
    border-radius: 2px;
    height: auto;
    width: 8cm;

}